.NavBar {
  min-height: 50px;
  margin: auto;
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavButton {
  background: whitesmoke;
  color: black;
  border: black 1px solid;
  border-radius: 0.3rem;
  min-height: 30px;
  min-width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 300;
  font-size: medium;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.NavButton:hover {
  background-color: rgb(122, 169, 230);
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(36,36,36);
}
.section {
  padding: 1rem;
}
.Home-left {
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  font-weight: 200;
}
.Home-center {
  font-size: calc(10px + 2vmin);
  font-weight: 200;
  color: whitesmoke;
}
.Home-right {
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  font-weight: 200;
}
.link {
  color: whitesmoke;
  font-size: calc(12px + 2vmin);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.link:hover {
  background-color: rgb(122, 169, 230);
}
.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(12px + 2vmin);
  text-decoration: none;
  font-weight: 300;
  border: white;
  border-radius: 0.3rem;
  color: black;
  background-color: whitesmoke;
  margin-right: 5rem;
  margin-left: 5rem;
}
/* .bump-right {
  margin-left: 4rem;
} */
/* .arrow-left {

} */