.bg-color {
  background-color: black;
}
.headshot {
  background-image: url('./photos/Headshot2.png');
  height: 35vw;
  background-position: center;
  background-size: contain;
  background-attachment: relative;
  filter: brightness(70%);
}
.chess-img {
  background-image: url('./photos/chess-matrix.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: absolute;
  padding-top: 5vh;
  background-color: black;
}
.chess-img-2 {
  background-image: url('./photos/chess-matrix.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: relative;
  height: 25vw;
  background-color: black;
}
.tech1 {
  background-image: url('./photos/react-1.svg');
  height: 4vw;
  width: 4vw;
  margin-left: 2vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech2 {
  background-image: url('./photos/typescript-1.svg');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech3 {
  background-image: url('./photos/node-1.png');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4vw;
}
.tech4 {
  background-image: url('./photos/Bootstrap-1.png');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech5 {
  background-image: url('./photos/mysql-1.png');
  height: 4vw;
  width: 5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech6 {
  background-image: url('./photos/stripe-1.jpg');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech7 {
  background-image: url('./photos/sc-1.png');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tech8 {
  background-image: url('./photos/nextjs.png');
  height: 4vw;
  width: 4vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.resume {
  background-image: url('./photos/CD_FullStack.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.order-page {
  background-image: url('./photos/orderpage.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.subtotal-page {
  background-image: url('./photos/subtotalpage.png');
  height: 50vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.payment-page {
  background-image: url('./photos/paymentpage.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.receipturl-page {
  background-image: url('./photos/receipturlpage.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.prosci-dark {
  background-image: url('./photos/prosci-dark.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.prosci-light {
  background-image: url('./photos/prosci-light.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.prosci-collapsed {
  background-image: url('./photos/prosci-collapsed.png');
  height: 55vw;
  width: 25vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.prosci-menu {
  background-image: url('./photos/prosci-menu.png');
  height: 55vw;
  width: 25vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-uscurrent {
  background-image: url('./photos/covid-uscurrent.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-current-graph1 {
  background-image: url('./photos/covid-current-graph1.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-current-graph2 {
  background-image: url('./photos/covid-current-graph2.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-current-table {
  background-image: url('./photos/covid-current-table.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-ushistoric {
  background-image: url('./photos/covid-ushistoric.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-historic-graph1 {
  background-image: url('./photos/covid-historic-graph1.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.covid-historic-graph2 {
  background-image: url('./photos/covid-historic-graph2.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.periodic-table-1 {
  background-image: url('./photos/periodic-table.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: left;
  background-size: cover;
  border-radius: 10px;
}
.periodic-table-2 {
  background-image: url('./photos/periodic-table.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: right;
  background-size: cover;
  border-radius: 10px;
}
.periodic-table-about {
  background-image: url('./photos/periodic-table-about.png');
  height: 40vw;
  width: 50vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.starry-knight-chess {
  background-image: url('./photos/starry-knight-chess.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: right;
  background-size: cover;
  border-radius: 10px;
}
.starry-knight-chess-notes {
  background-image: url('./photos/starry-knight-chess-notes.png');
  height: 30vw;
  width: 55vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-login {
  background-image: url('./photos/chirpr-login.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-login-invalid {
  background-image: url('./photos/chirpr-login-invalid.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-register {
  background-image: url('./photos/chirpr-register.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-register-success {
  background-image: url('./photos/chripr-register-success.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-profile {
  background-image: url('./photos/chripr-profile.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: top;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-post {
  background-image: url('./photos/chirpr-post.png');
  height: 30vw;
  width: 60vw;
  background-repeat: none;
  background-position: top;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-chirps {
  background-image: url('./photos/chripr-chirps.png');
  height: 60vw;
  width: 60vw;
  background-repeat: none;
  background-position: top;
  background-size: contain;
  border-radius: 10px;
}
.chirpr-donate {
  background-image: url('./photos/chirpr-donate.png');
  height: 40vw;
  width: 60vw;
  background-repeat: none;
  background-position: top;
  background-size: contain;
  border-radius: 10px;
}
.foot {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
.copyright {
  font-size: 12px;
}
.transition {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}